{% extends 'base.html'%}


<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Welcome to the best Movie Review website </title>
        {% endif %}
    </head>
   
    <body >
        {%block content%}

        <div class="container">
            <div class="row">
                <div class="col">
                    <img src="/app/static/Second Renaissance By Uma Damle - IGNANT.jpeg" alt="" style="height: 20cm;">
                </div>
                <div class="col" style="margin-top: 18%;">
                    <h1 style="font-size: 2cm; color: white; margin-left: -40%;">WRITE YOUR HEART OUT</h1>

                    <!-- quotes  -->

                    
                    <div class="card border-dark mb-3" style="max-width: 18rem;">
                        
                        {% for get_quote in quotes %}


                        <div class="card-header">{{get_quote.author}}</div>
                        <div class="card-body text-dark">
                          <h5 class="card-title">Dark card title</h5>
                          <p class="card-text">{{get_quote.quote}}</p>
                        </div>

                        {% endfor %}


                      </div>
                   
                </div>
            </div>
        </div>

        {%endblock%}

    </body>
   
</html>

