{% extends 'base.html'%}


<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Welcome to the best Bolg website </title>
        {% endif %}
    </head>
   
    <body >
        {%block content%}

        <div class="call">
            <div class="row">
                <div class="col">
                    <img src="/app/static/mod7.jpg" alt="">
                </div>
                
                <div class="col" style="margin-top: 10%;">  
                    <p style="font-size: 2cm; font-weight: 900;">EXPLORE INTO YOUR MIND</p>  
                    
                    <a href="/blog" style="color: black; font-size: 0.8cm; font-weight: 700; margin-left: 25% ">explore</a>
                                     
                </div>
                <div>
                    <div class="card border-dark mb-3">
                        <div class="card-header">Author: {{displays.author}}</div>
                        <div class="card-body text-dark">
                          <p class="card-text">{{displays.quote}}</p>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
        {%endblock%}

    </body>
   
</html>

